body {
  margin: 0 20%;
  background-color: #edf0c7;

  color: #2e5a1c;

  /*
  border: 2px ridge #ff5c00;
  border-bottom: none;
  #f2e8c6;
  03002c;
  */
}
h1, h2, h3{color: #4e9525;}
hr {
  border-style: none;
  border-top: 10px dotted #ff5c00;
  width: 15%;
}

img {
  height: 95%;
  width: 95%;
}
th{
  border-bottom: 1px solid #ff5c00;
}

ul li {
  padding: 0;
  margin: 0;
}

.container, .brmLink {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.me {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.titleFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titleImg .titleImg2{
  width: 15%;
}

.titleName {
  width: 85%;
  text-align: center;
}

.toDelete {
  color: rgb(25, 97, 10);
  background-color: rgb(213, 47, 202);
  padding-left: 15px;
  margin-right: 55px;
  border-radius: 15px;
  border: 2px solid rgb(25, 97, 10);
}
